* {
    font-family: sans-serif;
    background-color: beige;
}

h1 {
    color: green;
}
h5::before{
    content: ':)';
    color: green;
    font-size: 50px;
}
h5::after{
    content: ':)';
    color: green;
    font-size: 50px;
}
h5 {
    color: brown;
}

th,
td {
    padding: 10px;
}

label {
    margin-right: 20px;
    border-color: green;
}

button {
    margin: 2px;
    margin-top: 10px;
    background-color: aqua;
    border-radius: 4px;
    border-color: brown;
    padding: 12px;
}

.table2 {
    font-size: 0.7em;
    border: 1px solid red
}

.name,
.age {
    padding: 1px;
    border: 1pc;
}

td:hover {
    background-color: beige;
    padding: 0px;
}

button:hover {
    background-color: green;
}

button:active {
    background-color: greenyellow;
}

img {
    width: 300px;
    height: 100px;
    position: relative;
    left: 550px;
    transition: width 1s ease, height 5s ease, background-color 1s ease;
}
img:hover {
   width: 500px;
   height: 200px;
   background-color: blueviolet; 
   border-radius: 20px;
}

@keyframes moveAround {
    0%, 100%{
        left: 5px;
        top: 5px;
        background-color: blueviolet;
    }
25% {
    left: 400px;
    top: 5px;
    background-color: aqua;
}

    50% {
        left: 100px;
        top: 5px;
        background-color: yellow;
        border-radius: 50px;
    }
    75% {
        left: 500px;
        top: 5px;
        background-color: red;
    }
}
.box {
    width: 70px;
    height: 70px;
    background-color: blue;

    position: relative;
    animation: moveAround;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:normal;

}